---
---
<style lang="scss">

</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>
			Hello, world!
		</h1>
		<div class="bottom-sheet">
			<div class="bottom-sheet__overlay"></div>
			<div class="bottom-sheet__fixed-wrapper">
				<div class="bottom-sheet__top-space"></div>
				<div class="bottom-sheet__content">
					<div class="bottom-sheet__header">

					</div>
					<div class="bottom-sheet__body">
あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお<br>
あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお<br>
あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
